body {
  width: 100%;
  display: block;
  margin: 0;
}
h1 {
  font-size: 40px;
  color: #e8e3ff;
  font-family: "Yeseva One", cursive;
}

.display-day,
.display-time {
  color: #e8e3ff;
  font-family: "Yeseva One", cursive;
  font-size: 20px;
}

h3 {
  color: #e8e3ff;
  font-family: "Work Sans", sans-serif;

  font-size: 25px;
}
.last-updated {
  color: #e8e3ff;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}
.daily-icons {
  width: 100px;
  position: relative;
  top: -10px;
  left: -5px;
}
.current-temperature {
  color: rgb(233, 224, 255);
  font-size: 60px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}
.card {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border-color: rgba(223, 235, 245, 0.2);
}

.current-location-button {
  width: 80px;
  background: #8f6f96;
  color: #fffefe;
  border: 2px solid #7c3e88;
  border-radius: 10px;
  padding: 5px;
  font-family: "Work Sans", sans-serif;
}

.current-location-button:hover {
  background: #fffeff;
  color: #2f1e79;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-control {
  border: 1px solid #90769d;
}
.btn {
  background: #7c3e88;
}

.search-form {
  margin-bottom: 20px;
}

.btn:hover {
  background: #f3e6eb;
  color: #2f1e79;
  cursor: pointer;
}

.current-icon {
  width: 180px;
  position: relative;
  left: -130px;
  top: -20px;
}
.current-location {
  display: block;
  margin: 0 auto;
  background: #6443ea;
  color: #fff;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
}

.hithere:hover {
  animation: hithere 1s ease;
  background-color: #9b95d9;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.forecast-date {
  text-align: center;
  font-family: "Yeseva One", cursive;
  color: #fff2f2;
  font-size: 20px;
}
.forecast-temperature {
  font-size: 16px;
  text-align: center;
  color: rgb(252, 243, 243);
  font-family: "Work Sans", sans-serif;
}

.forecast-minimum {
  opacity: 0.8;
}
.units {
  font-size: 20px;
  position: relative;
  top: -25px;

  color: #d8d2ff;
}

.active:hover {
  text-decoration: none;
}

.more-info {
  font-size: 18px;
  text-align: center;
  background-color: #f0ece30e;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 244, 244);
  box-shadow: 5px 5px 5px rgb(39 39 39 / 7%);
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  backdrop-filter: blur(5px);
}
.info {
  text-align: left;
}
.more-icon {
  text-align: right;
}
.message-wrapper {
  margin: 10px 0px 10px 20px;
  width: 150px;
  display: block;
  text-align: center;
  position: relative;
  float: right;
  backdrop-filter: blur(5px);
}
.reminder {
  background: rgba(255, 254, 255, 0.048);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.041);
  font-size: 14px;

  padding: 5px;
  font-family: "Work Sans", sans-serif;
  color: #f5edfd;
  backdrop-filter: blur(5px);
}

.overview {
  margin: 30px auto;
}
.daily-wrap {
  background: rgba(245, 245, 245, 0.186);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.transparent-box {
  padding: 30px;

  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.247);
  max-width: 100%;
  border-radius: 1px;
  background-color: rgba(96, 125, 139, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.weather-app {
  background: rgba(245, 245, 245, 0.12);
  margin: 20px auto;
  padding: 35px;
  border-radius: 20px;
  border: #e8e3ff;
}
