body {
  width: 100%;
}

h1 {
  font-size: 40px;

  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}

.display-day,
.display-time {
  font-family: "Yeseva One", cursive;
  font-size: 20px;
  letter-spacing: 2px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
}

.last-updated {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}
.daily-icons {
  width: 80px;
  position: relative;
  top: -10px;
  left: -5px;
}
.current-temperature {
  font-size: 60px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}

.card {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border-color: rgba(223, 235, 245, 0.2);
  transition: background-color 0.5s;
  padding: 6px;
}
.card:hover {
  border-color: #f9f7ff;
  background-color: #52525337;
}
.card-main {
  color: rgb(255, 251, 251);
}
.card-main:hover {
  color: rgb(11, 10, 10);
  background-color: rgba(255, 237, 240, 0.64);
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

.search-form {
  margin-bottom: 20px;
}

.current-icon {
  width: 120px;
  position: relative;
  left: -150px;
  top: 150px;
}
.current-location-button {
  display: block;
  margin: 0 auto;
  background: #cec2ff;
  color: rgb(225, 219, 229);
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
}

.hithere:hover {
  animation: hithere 1s ease;
  background-color: #9b95d934;
  color: #f5edfd;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.forecast-date {
  text-align: center;
  font-family: "Yeseva One", cursive;
  color: #fffdfd;
  font-size: 18px;
}
.forecast-temperature {
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Work Sans", sans-serif;
}

.forecast-minimum {
  opacity: 0.8;
}
.units {
  font-size: 20px;
  position: relative;
  top: -25px;

  font-family: "Work Sans", sans-serif;
}

.more-info {
  font-size: 18px;
  text-align: center;
  background-color: #f0ece305;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 244, 244);
  box-shadow: 5px 5px 5px rgb(39 39 39 / 7%);
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  backdrop-filter: blur(5px);
}
.info {
  text-align: left;
  padding: 0 20px;
  position: relative;
  left: 10px;
  font-size: 12px;
}

.more-icon {
  text-align: right;
  position: relative;
  left: 8px;
}

.message-wrapper {
  margin: 10px 0px 10px 20px;
  width: 200px;
  display: block;
  text-align: center;
  position: relative;
  top: 0px;
  float: right;
}
.text-player {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.041);
  font-size: 14px;
  padding: 10px;
  transition: ease-in-out 0.2s;
  font-family: "Work Sans", sans-serif;
  color: #fefdff;
  backdrop-filter: blur(5px);
  width: 200px;
  text-align: left;
}

.text-player:hover {
  border-color: #fff6f66a;
  background-color: #09090954;
}

.overview {
  margin: 0px auto;
}
.daily-wrap {
  margin: 10px auto;
  padding: 10px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid;
  border-color: rgba(255, 250, 250, 0.233);
}

.daily-wrap:hover {
  border-color: rgba(255, 250, 250, 0.67);
  background-color: rgba(93, 89, 83, 0.17);
}

.transparent-box {
  padding: 30px;

  backdrop-filter: blur(5px);

  max-width: 100%;

  background-color: rgba(96, 125, 139, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 10px;
}

.weather-app {
  background: rgba(245, 245, 245, 0.12);
  margin: 20px auto;
  padding: 35px;
  border-radius: 20px;
  border: #e8e3ff;
}
input.form-control.btn {
  background-color: #f5f0fff5;
  font-family: "Yeseva One", cursive;
  color: black;
}
input.form-control.btn:hover {
  background-color: #dccbff38;
  color: #faf2f2;

  font-size: 16px;
  border: 2px solid rgba(249, 249, 249, 0.591);
  transition: ease-in-out 0.3s;
}

input.form-control.bar {
  background-color: #f5f0ffe0;
  font-family: "Yeseva One", cursive;
}
input.form-control.bar:hover {
  border: 2px solid rgba(240, 240, 240, 0.591);
}

.cardlow:hover {
  color: #9ecbff;
  font-size: 20px;
}
.cardhigh:hover {
  color: rgb(225, 73, 73);
  font-size: 20px;
}

.interval:hover {
  font-size: 16px;
  color: #fff6f6;
}
.card-body {
  padding: 10px;
}

small {
  font-size: 15px;

  text-align: center;
  color: rgb(255, 250, 250);
}

.details-wrap {
  position: relative;
  left: 220px;
}

.codeLink {
  text-decoration: none;
  color: #fcfcff;
  font-size: 13px;
}

.iconLink {
  text-decoration: none;
  color: #fcfcff;

  transition: ease-in-out 0.2s;
  font-size: 20px;
}

.codeLink:hover,
.iconLink:hover {
  color: black;
}
.codeLink:hover {
  background-color: #f9f7ff;
  font-size: 15px;
  transition: ease-in-out 0.2s;
}
.iconLink:hover {
  font-size: 25px;
}
.web-links {
  letter-spacing: 2px;
  position: relative;
  left: 10px;
}
