body {
  width: 100%;
  display: block;
  margin: 0;
}

h1 {
  font-size: 40px;
  color: #e8e3ff;
  font-family: "Yeseva One", cursive;
}

.display-day,
.display-time {
  color: #e8e3ff;
  font-family: "Yeseva One", cursive;
  font-size: 20px;
}

h3 {
  color: #e8e3ff;
  font-family: "Work Sans", sans-serif;

  font-size: 25px;
}

.last-updated {
  color: #e8e3ff;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}
.daily-icons {
  width: 100px;
  position: relative;
  top: -10px;
  left: -5px;
}
.current-temperature {
  color: rgb(233, 224, 255);
  font-size: 60px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}
.card {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border-color: rgba(223, 235, 245, 0.2);
  transition: background-color 0.5s;
  padding: 10px;
}
.card:hover {
  border-color: #d8d2ff;
}

.search-form {
  margin-bottom: 20px;
}

.current-icon {
  width: 150px;
  position: relative;
  left: -170px;
  top: 80px;
}
.current-location-button {
  display: block;
  margin: 0 auto;
  background: #6443ea;
  color: rgb(225, 219, 229);
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
}
.form-control.current-location-button.hithere {
}
.hithere:hover {
  animation: hithere 1s ease;
  background-color: #9b95d975;
  color: #f5edfd;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.forecast-date {
  text-align: center;
  font-family: "Yeseva One", cursive;
  color: #fff2f2;
  font-size: 20px;
}
.forecast-temperature {
  font-size: 16px;
  text-align: center;
  color: rgb(252, 243, 243);
  font-family: "Work Sans", sans-serif;
}

.forecast-minimum {
  opacity: 0.8;
}
.units {
  font-size: 20px;
  position: relative;
  top: -25px;
  color: #d8d2ff;
}

.active:hover {
  text-decoration: none;
}

.more-info {
  font-size: 18px;
  text-align: center;
  background-color: #f0ece305;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 244, 244);
  box-shadow: 5px 5px 5px rgb(39 39 39 / 7%);
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  backdrop-filter: blur(5px);
}
.info {
  text-align: left;
  padding: 0 20px;
  position: relative;
  left: 10px;
}

.info-wrap {
  border-radius: 10px;
  border-color: rgba(223, 235, 245, 0.2);
}

.more-icon {
  text-align: right;
  position: relative;
  left: 8px;
}

.message-wrapper {
  margin: 10px 0px 10px 20px;
  width: 200px;
  display: block;
  text-align: center;
  position: relative;
  top: 0px;
  float: right;
}
.text-player {
  background: rgba(255, 254, 255, 0.048);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.041);
  font-size: 14px;
  padding: 5px;
  font-family: "Work Sans", sans-serif;
  color: #f5edfd;
  backdrop-filter: blur(5px);
  width: 200px;
}

.overview {
  margin: 30px auto;
}
.daily-wrap {
  background: rgba(245, 245, 245, 0.186);
  margin: 10px auto;
  padding: 10px;
  backdrop-filter: blur(5px);

  border-radius: 10px;
}
.daily-wrap:hover {
  border-color: #d8d2ff;
}
.transparent-box {
  padding: 30px;

  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, 0.247);
  max-width: 100%;
  border-radius: 1px;
  background-color: rgba(96, 125, 139, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
}

.weather-app {
  background: rgba(245, 245, 245, 0.12);
  margin: 20px auto;
  padding: 35px;
  border-radius: 20px;
  border: #e8e3ff;
}
input.form-control.btn {
  background-color: #f5f0fff5;
  font-family: "Yeseva One", cursive;
  color: black;
}
input.form-control.btn:hover {
  background-color: #dccbff97;
  color: #faf2f2;

  font-size: 16px;
  border: 2px solid rgba(249, 249, 249, 0.591);
  transition: ease-in-out 0.3s;
}

input.form-control.bar {
  background-color: #f5f0ffe0;
  font-family: "Yeseva One", cursive;
}
input.form-control.bar:hover {
  border: 2px solid rgba(240, 240, 240, 0.591);
}
